/**
 * Green, for Drupal 6.x
 * By Gross Design Studio www.grossdesign.it
 **/
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
body {
	text-align:center;
	background: #a9dd61 url(images/background.gif);
	margin: 0;
	padding: 0;
}
form{
	padding:0;
	margin:0;
}
input{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
a{
	color:#ff00ff;
}
a:hover{
	color:#660066;
}
a:visited{
	color: #cc66cc;
}

tr.even, tr.odd, tbody th {
  border: solid #d3e7f4;
  border-width: 1px 0;
}

tr.odd, tr.info {
  background-color: #edf5fa;
}

tr.even {
  background-color: #fff;
}

tr.odd td.active {
  background-color: #ddecf5;
}

tr.even td.active {
  background-color: #e6f1f7;
}

td.region, td.module, td.container {
  border-top: 1.5em solid #fff;
  border-bottom: 1px solid #b4d7f0;
  background-color: #d4e7f3;
  color: #455067;
  font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}
#tooltip {
	background:#FFFFFF;
	border: 1px solid #666666;
	color:#333333;
	text-align: justify;
	font:12px Arial, Helvetica, sans-serif;
	margin:3px;
	padding: 10px;
	position:absolute;
	visibility:hidden
}
#container { 
	width:900px;
	margin: auto;
	padding: 15px 0 15px 0;
	text-align: left;
	position: relative;
}
#line-top{
	background:url(images/line-top.gif) top left no-repeat;
	height:13px;
}
#line-bottom{
	background:url(images/line-bottom.gif) bottom left no-repeat;
	height:13px;
}
#header{
	padding:5px 0 35px 0;
}
#body{
	background:#ffffff;
}
#footer{
	padding:15px 27px 15px 27px;

}

#header .columns { clear: both; width: 100%; }
#header .columns .a,
#header .columns .b
{ float: left; }
#header .columns .a { 
	width: 30%;
}
/*
  logo
*/
#header .columns .a img{ 
	padding:10px 0 0 30px;
}
#header .columns .b {
	text-align:right; 
	width: 70%;
}
#header .columns .b div.padding {
	padding:0 0 0 5px;
}
#header div.columns div.b div#search{
	padding:20px 30px 5px 0;
}
#primary-links{
	padding:10px 30px 0 30px;
}
#secondary-links {
	margin-bottom:20px;
}
#secondary-links ul li {
	padding:0;
	margin:0 10px 0 0;
}

/*
  Search box
*/
#search label {
	display:none;
	visibility:hidden;
}
#search{ 
	text-align:right;
	vertical-align:middle;
	padding-left:5px;
}
#edit-search-theme-form-1{
	width:500px;
	display:inline;
	padding:0;
	margin:3px;
}
#search #edit-submit-1 {
	display:inline;
}
.stretcher div.form-item, .stretcher div, .stretcher .form-submit{ text-align:left; }
h3.display{ cursor:pointer; }

.columns { clear: both; width: 100%; }
.columns .a,
.columns .b
{ float: left; }
.columns .a { 
	width: 30%;
}
.columns .b { 
	width: 70%;
}
.columns .b p{ text-align:justify; }

.clear{
	clear:both;
}

.columns .a div.padding{
	padding:0 5px 0 10px;
}
.columns .b div.padding{
	padding:0 10px 0 5px;
}

.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list {
  text-align:left;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links {
  margin-bottom: 0em;
}
.comment .links {
	margin-bottom: 0em;
}
div#segnala-sito{
	text-align:right;
}
div#segnala-sito img{
	padding-top:5px;
	padding-bottom:10px;
}

/*
** Page layout blocks / IDs
*/

#menu {
  padding: 0.5em 0.5em 0 0.5em;
  text-align: right;
  vertical-align: middle;
}

#mission {
	padding:1em;
	background:#f388b9;
	border:3px solid #eb609f;
	margin-bottom:.5em;
	color:#6b0835;
}

#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
}
#mission, .node .content, .comment .content {
  line-height: 1.4;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
div.help{
  font-size: 0.9em;
  margin: 1em 0 1em 0;
  padding: 1em 1em 1em 4em;
  border:1px solid #159610;
  background:url(images/info.gif) no-repeat left 10px;
}
div.error{
  font-size: 0.9em;
  margin: 1em 0 1em 0;
  padding: 1em 1em 1em 4em;
  border:1px solid #aa1126;
  background:url(images/error.gif) no-repeat left 10px;
}

.breadcrumb {
  margin-bottom: .5em;
}
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}


#sidebar-left, #sidebar-right {
  vertical-align: top;
}

/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.title, .title a {
  font-weight: bold;
  font-size: 1.3em;
  color: #777;
  margin: 0 auto 0 auto;  /* decrease default margins for h<x>.title */
}
.submitted {
  color: #999;
  font-size: 0.8em;
}
.links {
  color: #999;
}
.links a {
  font-weight: bold;
}
.block, .box {
  padding: 0 0 1.5em 0;
}
.block {
  padding: 18px;
  margin-bottom: 1.5em;
  border:1px solid #159610;
}
.block .title {
  margin-bottom: .25em;
  text-transform:uppercase;
  font-size:12px;
  font-weight:bold;
  color:#666666;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 2em 0;
  padding: 18px;
  border:1px solid #219712;
}
.sticky {
  padding: .5em;
  background-color: #eee;
  border: solid 1px #ddd;
}
.node .content, .comment .content {
  margin: .5em 0 .5em 0;
}
div.node span.taxonomy {
  color: #999;
  font-size: 0.8em;
  padding: 1.5em;
}
.node .picture {
  border: 1px solid #ddd;
  float: right;
  margin: 0.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}
.comment .picture {
  border: 1px solid #abc;
  float: right;
  margin: 0.5em;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em 0.5em 0.5em 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
.calendar a {
  text-decoration: none;
}
.calendar td, .calendar th {
  padding: 0.4em 0;
  border-color: #888;
}
.calendar .day-today {
  background-color: #69c;
}
.calendar .day-today a {
  color: #fff;
}
.calendar .day-selected {
  background-color: #369;
  color: #fff;
}
.calendar .header-week {
  background-color: #ccc;
}
.calendar .day-blank {
  background-color: #ccc;
}
.calendar .row-week td a:hover {
  background-color: #fff; color: #000;
}
div.term_popular span a{ 
  text-transform:lowercase;
}
div#home-page ul.tabs{
  border-bottom:none;
  margin-bottom:0;
}